/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* Custom properties */
:root {
  --background-color-white: #FFFF;
  --background-color-grey: #2B2B2B;
  --background-color-black: #000000;
  --text-color-white: #FFFF;
  --text-color-black: #000000;
  --background-color-yellow: #FDFDBD;
  --background-color-green: #C8FFD4;
  --background-color-blue: #B8E8FC;
  --background-color-purple: #B1AFFF;
  --hover-color-yellow: #FFD324;
}

/* import fonts */

/* inter regular */
@font-face {
  font-family: inter-regular;
  src: url("../assets/Inter-Regular.ttf");
}

/* inter bold */
@font-face {
  font-family: inter-semibold;
  src: url("../assets/Inter-SemiBold.ttf");
}

/* nunito regular */
@font-face {
  font-family: nunito-regular;
  src: url("../assets/Nunito-Regular.ttf");
}


body {
  background-color: var(--background-color-grey);
  font-family: inter-regular, sans-serif;
}

/* header */
header {
  position: sticky;
  top: 0;
  background-color: var(--background-color-white);
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
  z-index: 3;
}

/* header end */

/* this is the card with all content */
.card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-white);
  margin: 1.5em;
  margin-top: 5em;
  padding: 3em 2em;
  padding-top: 3.25em;
  padding-bottom: 1.5em;
  border-radius: 0.5em;
}

.logo-title-container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 77px;
  height: 70px;
  border-radius: 0.5em;
  object-fit: cover;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1em;
}

.title>h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: -0.075em
}

.title>span {
  font-size: 0.7em;
  margin-left: 0.4em;
}

/* form for searches */
form {
  position: relative;
}

input {
  margin-top: 1.25em;
  padding: 1em;
  width: 100%;
  height: 2.75em;
  border: 1px solid;
  border-radius: 5em;
  font-family: inter-regular, sans-serif;
}

svg {
  position: absolute;
  right: 0.75em;
  bottom: 0.33em;
}

.desktop-svg{
  position: absolute;
  right: 1em;
  bottom: 0.33em;
  display: none;
}

/* form for searches END */

/* filter container */
.filter-container {
  margin-top: 1.25em;
  display: flex;
}

.filter-container>a {
  text-decoration: none;
  background-color: var(--background-color-green);
  color: var(--text-color-black);
  padding: 0.3em 0.8em;
  font-size: 0.7em;
  border-radius: 0.75em;
  font-family: nunito-regular, sans-serif;
  margin-left: 0.75em;
  margin-bottom: 1rem;
  transition: ease 1s;
}

.filter-container>a:hover{
  background-color: var(--background-color-black);
  color: var(--text-color-white);
}

/* filter container END */

/* student container */
.student-container {
  display: flex;
  background-color: var(--background-color-purple);
  border-radius: 0.5em;
  margin-top: 1em;
  padding: 1em;
  justify-content: center;
  opacity: 1;
  transition: ease 1s;
}

.student-container:hover{
  transform: scale(1.05);
}

/* .student-container-on{
  opacity: 1;
} */

.student-container:nth-child(2),
.student-container:nth-child(6),
.student-container:nth-child(10),
.student-container:nth-child(14),
.student-container:nth-child(18),
.student-container:nth-child(22) {
  background-color: var(--background-color-purple);
}

.student-container:nth-child(3),
.student-container:nth-child(7),
.student-container:nth-child(11),
.student-container:nth-child(15),
.student-container:nth-child(19),
.student-container:nth-child(23) {
  background-color: var(--background-color-blue);
}

.student-container:nth-child(4),
.student-container:nth-child(8),
.student-container:nth-child(12),
.student-container:nth-child(16),
.student-container:nth-child(20),
.student-container:nth-child(24) {
  background-color: var(--background-color-green);
}


.student-container:nth-child(5),
.student-container:nth-child(9),
.student-container:nth-child(13),
.student-container:nth-child(17),
.student-container:nth-child(21),
.student-container:nth-child(25) {
  background-color: var(--background-color-yellow);
}


/* margin-top first student container smaller for filter container */
section:nth-child(1) {
  margin-top: 0em;
}

.student-image,
.placeholder-image {
  min-width: 63px;
  max-width: 63px;
  min-height: 63px;
  max-height: 63px;
  object-fit: cover;
  border-radius: 0.5em;
}

/* placeholder image if no image */
.placeholder-image {
  opacity: 0.5;
}

/* student info and links */
.student-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 0.25;
  margin-left: 1em;
  width: 75%;
}

.student-name {
  font-size: 1.25em;
  font-family: inter-regular, sans-serif;
  font-weight: normal;
}

.student-website-links {
  margin-top: 0.5em;
}

.student-website-links>a {
  text-decoration: none;
  background-color: var(--background-color-white);
  color: var(--text-color-black);
  padding: 0.3em 0.6em;
  font-size: 0.7em;
  border-radius: 0.75em;
  font-family: nunito-regular, sans-serif;
  transition: ease 1s;
}

.student-website-links>a:hover{
  background-color: var(--background-color-black);
  color: var(--text-color-white);
}

/* student container END */

/* JS CSS */
.container-off {
  display: none;
}

/* JS CSS END */

/* MEDIA QUERIES */
@media (min-width: 768px) {

  header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 1em;
  }

  .card-container {
    margin: 3em;
  }

  /* logo title */
  .logo {
    width: 7.92em;
    height: 7.22em;
  }

  .title>h1 {
    font-size: 3.44em;
    font-weight: normal;
    margin-bottom: -0.075em
  }

  .title>span {
    font-size: 0.97em;
    margin-left: 0.4em;
  }

  /* logo title END */

  /* form for searches */
  input {
    margin-top: 1.25em;
    padding: 1em;
    width: 100%;
    height: 2.7em;
    border: 1px solid;
    border-radius: 5em;
    font-family: inter-regular, sans-serif;
    font-size: 1.1em;
  }

  svg {
    display: none;
  }

  .desktop-svg{
    display: inline;
  }

  /* form for searches END */

  /* filter container */
  .filter-container {
    margin-top: 1.25em;
    display: flex;
  }

  .filter-container>a {
    padding: 0.3em 0.8em;
    font-size: 0.8775em;
    margin-left: 0.75em;
    margin-bottom: 1rem;
  }

  .filter-container>span {
    font-size: 1.2525em;
  }
  /* filter container END */

  /* student container */
.desktop-student-containers{
  display: flex;
  flex-wrap: wrap;
}

.student-container {
  padding: 2em;
  min-width: 25em;
  max-width: 25em;
  margin: 1em;
}

section:nth-child(1) {
  margin-top: 1em;
}

  .student-image,
  .placeholder-image {
    min-width: 7.3em;
    max-width: 7.3em;
    min-height: 7.3em;
    max-height: 7.3em;
  }

  /* student info and links */
  .student-info {
    margin-bottom: 0.2em;
    margin-left: 1em;
    width: 75%;
  }

  .student-name {
    font-size: 2em;
  }

  .student-website-links {
    margin-top: 1em;
  }

  .student-website-links > a:nth-child(2){
    margin-left: 0.25em;
  }

  .student-website-links>a {
    padding: 0.3em 0.6em;
    font-size: 0.9em;
  }
  /* student container END */
}
/* MEDIA QUERIES END */